/* 
* @Author: Marte
* @Date:   2018-09-18 18:05:05
* @Last Modified by:   Marte
* @Last Modified time: 2018-09-19 10:37:38
*/
.animated1{
    visibility: hidden;
    opacity: 0;
    transform: translate(0px,100%);
    -moz-transform: translate(0px,100%);
    -webkit-transform: translate(0px,100%);
}
.done1{
    animation:myname 1s ease-in-out  .1s normal 1 forwards;
    -moz-animation:myname 1s ease-in-out  .1s normal 1 forwards;
    -webkit-animation:myname 1s ease-in-out  .1s normal 1 forwards;
}
.done2{
    animation:myname 1s ease-in-out  .3s normal 1 forwards;
    -moz-animation:myname 1s ease-in-out  .3s normal 1 forwards;
    -webkit-animation:myname 1s ease-in-out  .3s normal 1 forwards;
}
.done3{
    animation:myname 1s ease-in-out  .5s normal 1 forwards;
    -moz-animation:myname 1s ease-in-out  .5s normal 1 forwards;
    -webkit-animation:myname 1s ease-in-out  .5s normal 1 forwards;
}
.done4{
    animation:myname 1s ease-in-out  .7s normal 1 forwards;
    -moz-animation:myname 1s ease-in-out  .7s normal 1 forwards;
    -webkit-animation:myname 1s ease-in-out  .7s normal 1 forwards;
}
.done5{
    animation:myname 1s ease-in-out  .9s normal 1 forwards;
    -moz-animation:myname 1s ease-in-out  .9s normal 1 forwards;
    -webkit-animation:myname 1s ease-in-out  .9s normal 1 forwards;
}
.cone1{
    animation:myname 1s ease-in-out  .1s normal 1 forwards;
    -moz-animation:myname 1s ease-in-out  .1s normal 1 forwards;
    -webkit-animation:myname 1s ease-in-out  .1s normal 1 forwards;
}
.eone1{
    animation:myname 1s ease-in-out  .1s normal 1 forwards;
    -moz-animation:myname 1s ease-in-out  .1s normal 1 forwards;
    -webkit-animation:myname 1s ease-in-out  .1s normal 1 forwards;
}
.eone2{
    animation:myname 1s ease-in-out  .3s normal 1 forwards;
    -moz-animation:myname 1s ease-in-out  .3s normal 1 forwards;
    -webkit-animation:myname 1s ease-in-out  .3s normal 1 forwards;
}
.eone3{
    animation:myname 1s ease-in-out  .5s normal 1 forwards;
    -moz-animation:myname 1s ease-in-out  .5s normal 1 forwards;
    -webkit-animation:myname 1s ease-in-out  .5s normal 1 forwards;
}
.eone4{
    animation:myname 1s ease-in-out  .7s normal 1 forwards;
    -moz-animation:myname 1s ease-in-out  .7s normal 1 forwards;
    -webkit-animation:myname 1s ease-in-out  .7s normal 1 forwards;
}
.eone5{
    animation:myname 1s ease-in-out  .9s normal 1 forwards;
    -moz-animation:myname 1s ease-in-out  .9s normal 1 forwards;
    -webkit-animation:myname 1s ease-in-out  .9s normal 1 forwards;
}
.eone6{
    animation:myname 1s ease-in-out  1.1s normal 1 forwards;
    -moz-animation:myname 1s ease-in-out  1.1s normal 1 forwards;
    -webkit-animation:myname 1s ease-in-out  1.1s normal 1 forwards;
}
.eone7{
    animation:myname 1s ease-in-out  1.3s normal 1 forwards;
    -moz-animation:myname 1s ease-in-out  1.3s normal 1 forwards;
    -webkit-animation:myname 1s ease-in-out  1.3s normal 1 forwards;
}
.solu-row1{
    transition:all 1.75s;
    -moz-transition:all 1.75s;
    -webkit-transition:all 1.75s;
    opacity: 0;
}
.solu-row2{
    transition:all 1.75s .2s;
    -moz-transition:all 1.75s .2s;
    -webkit-transition:all 1.75s .2s;
    opacity: 0;
}
.solu-row3{
    transition:all 1.75s .4s;
    -moz-transition:all 1.75s .4s;
    -webkit-transition:all 1.75s .4s;
    opacity: 0;
}
.solu-row4{
    transition:all 1.75s .6s;
    -moz-transition:all 1.75s .6s;
    -webkit-transition:all 1.75s .6s;
    opacity: 0;
}
.solu-row5{
    transition:all 1.75s .8s;
    -moz-transition:all 1.75s .8s;
    -webkit-transition:all 1.75s .8s;
    opacity: 0;
}
.solution-row{
    opacity: 1;
}
.news1{
    transition:all 1.75s;
    -moz-transition:all 1.75s;
    -webkit-transition:all 1.75s;
    opacity: 0;
}
.news2{
    transition:all 1.75s .2s;
    -moz-transition:all 1.75s .2s;
    -webkit-transition:all 1.75s .2s;
    opacity: 0;
}
.news3{
    transition:all 1.75s .4s;
    -moz-transition:all 1.75s .4s;
    -webkit-transition:all 1.75s .4s;
    opacity: 0;
}
.news4{
    transition:all 1.75s .6s;
    -moz-transition:all 1.75s .6s;
    -webkit-transition:all 1.75s .6s;
    opacity: 0;
}
.news5{
    transition:all 1.75s .8s;
    -moz-transition:all 1.75s .8s;
    -webkit-transition:all 1.75s .8s;
    opacity: 0;
}
.news6{
    transition:all 1.75s 1s;
    -moz-transition:all 1.75s 1s;
    -webkit-transition:all 1.75s 1s;
    opacity: 0;
}
.news-row{
    opacity: 1;
}
@keyframes myname{
    0%{visibility: hidden;
        opacity: 0;
        transform: translate(0px,100%);
        -moz-transform: translate(0px,100%);
        -webkit-transform: translate(0px,100%);
    }

    100%{visibility: visible;
        opacity: 1;
        transform: translate(0px, 0px);
        -moz-transform: translate(0px, 0px);
        -webkit-transform: translate(0px, 0px);
    }
}
@moz-keyframes myname{
    0%{visibility: hidden;
        opacity: 0;
        -webkit-transform: translate(0px,100%);
        -moztransform: translate(0px,100%);
        transform: translate(0px,100%);
    }
    100%{
        opacity: 1;
        transform: translate(0px, 0px);
        -moz-transform: translate(0px, 0px);
        -webkit-transform: translate(0px, 0px);
    }
}

@-webkit-keyframes myname{
    0%{visibility: hidden;
        opacity: 0;
        transform: translate(0px,100%)
        -moz-transform: translate(0px,100%)
        -webkit-transform: translate(0px,100%)
    }
    100%{visibility: visible;
        opacity: 1;
        transform: translate(0px, 0px);
        -moz-transform: translate(0px, 0px);
        -webkit-transform: translate(0px, 0px);
    }
}